.calculator{
    padding:140px 0;
}

.calculator-header{
    text-align:center;
    margin-bottom:70px;
}

.calculator-header span{
    color:#7C7CFF;
    letter-spacing:3px;
}

.calculator-header h2{
    margin:18px 0;
    font-size:54px;
    color:#fff;
}

.calculator-header p{
    color:#98A2B3;
}

.calculator-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:28px;
}

.calc-group{
    margin-bottom:40px;
}

.calc-group label{
    display:block;
    margin-bottom:12px;
}

.calc-group input[type=range]{
    width:100%;
}

.calc-switch{
    display:grid;
    gap:18px;
}

.calculator-result{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.calculator-result h2{
    margin:24px 0 34px;
    font-size:48px;
}
