.nova-splash{

    width:100%;
    height:100vh;

    overflow:hidden;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#05060A;

}

.nova-background{

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle at center,
    rgba(108,92,255,.28),
    transparent 60%);

    filter:blur(70px);

    animation:pulse 4s ease-in-out infinite;

}

.nova-content{

    position:relative;

    z-index:2;

    text-align:center;

    opacity:0;

    transform:translateY(25px);

    transition:
    opacity .9s ease,
    transform .9s ease;

}

.nova-content.show{

    opacity:1;

    transform:translateY(0);

}

.nova-logo{

    width:130px;

    height:130px;

    margin:auto;

    border-radius:32px;

    background:linear-gradient(
    135deg,
    #6C5CFF,
    #8B5CF6
    );

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:62px;

    font-weight:800;

    box-shadow:
    0 0 30px rgba(108,92,255,.45),
    0 0 80px rgba(108,92,255,.25);

}

.nova-title{

    margin-top:35px;

    color:white;

    font-size:68px;

    font-weight:900;

    letter-spacing:14px;

}

.nova-subtitle{

    margin-top:18px;

    color:#98A2B3;

    font-size:18px;

    letter-spacing:2px;

}

@keyframes pulse{

    0%{

        transform:scale(1);

        opacity:.6;

    }

    50%{

        transform:scale(1.2);

        opacity:1;

    }

    100%{

        transform:scale(1);

        opacity:.6;

    }

}
